<div class="hom_foc">
		<div class="hom_focimg pub-w" id="hom_focimg">
			<div>
			    <a href="/look/detail/1" target="_blank"><img src="/public/data/images/fragment/20140331140310_886.jpg" alt="校园舞蹈大赛"></a>
				<a href="/look/detail/2" target="_blank"><img src="/public/data/images/fragment/20140331140327_376.jpg" alt="摄影大赛"></a>
				<a href="/look/detail/3"><img src="/public/data/images/fragment/20140331140349_846.jpg" alt="全国少儿书法大赛大赛"></a>
			</div>
			<p>
				<span class="on"></span>
				<span></span>
				<span></span>
			</p>
			<em></em><i></i>
		</div>
	</div>
	<script>
	focuImg({
		elements : $("#hom_focimg").find('img'),
		left : $("#hom_focimg").find('i:first'),
		right : $("#hom_focimg").find('em:first'),
		tip : $("#hom_focimg").find('span')
	})
	</script>
