<?php $this->load->view('public/common_head.php'); ?>
<?php $this->load->view('public/space_head.php'); ?>
<div class="pub-content">
	<div class="pub-w usr_content" style="background:none;">
		<div class="b_video_info">
            <div class="block_form">
    			<h2 class="b_form_title f14px">为了更好的展现您的作品，请认真填写以下信息。*号为必填项：</h2>
    			<div class="b_video_form">
    				<?php if(isset($game)){ ?>
                    <dl>
    					<dt>参赛活动：</dt>
    					<dd><em class="b_form_text"></em></dd>
    				</dl>
                    <?php } ?>
    				<dl>
    					<dt><em class="cRed">* </em>标题：</dt>
    					<dd>
    						<input id="title" type="text" name="title"  class="b_form_input" value="<?php if(isset($info['name'])){echo $info['name'];}?>"/>
    					</dd>
    				</dl>
    				<dl>
    					<dt><em class="cRed">* </em>简介：</dt>
    					<dd>
    						<textarea id="description" name="description" class="b_form_textarea on"><?php if(isset($info['desc'])){echo $info['desc'];}?></textarea>
    					</dd>
    				</dl>
    				<dl>
                        <dt><em class="cRed">* </em>标签：</dt>
    					<dd id="setTags">
    						<div class="b_form_tags">
    							<ul>
                                <?php $taginfo = ''; if(!empty($info_tag)){ ?> 
                                <?php foreach($info_tag as $k=>$v ){ if($k>0){$taginfo .= ','.$v['tag'];}else{$taginfo .= $v['tag'];} ?> 
                                    <li index="<?php echo $v['tid']; ?>"><em><?php echo $v['tag']; ?></em><b title="删除当前标签"></b></li>
                                <?php }?>
                                <?php }?>
    								<li class="b_form_tags_input"><input type="text" id="tagid"/></li>
    							</ul>
                                <span>&nbsp;</span>
                            </div>
                        </dd>
    				</dl>
                    <dl style="margin-top:-18px;">
                        <dt> </dt>
                        <?php if(!empty($tags)){ ?>
                        <dd class="b_form_tags_all" id="tagtext">已添加标签：
                        <?php foreach($tags as $tag){ ?>
                            <a href="" index="<?php echo $tag['tid']; ?>"><?php echo $tag['tag']; ?></a>
                        <?php } ?>
                        <?php } ?>
                        </dd>
                    </dl>
                    <input id="tag" type="hidden" name="tag"/>
                    <script>
                            $('#tagid').blur(function ()
                            { 
                                var tag_i ='';
                                var tag  = '';
                                var i = 0;
                                $('.b_form_tags em').each(function() {
                                    tag = $(this).html();
                                    if(i>0)tag_i += ',';
                                    tag_i += tag;
                                    i++;
                                });
                                $("#tag").val(tag_i);
                            }) 
                    </script>
                    <script>setTags($("#setTags"),$("#tagtext"));//内部节构不要调整。</script>
                    <div style="padding-left: 187px;display:inline-block;height:30px;color:red;" id="add_data"></div>
    			</div>
    			<div class="b_video_btn" id="subinfo"><span class="b_form_btn f14px" >确定</span><i class="ok" id="add_data"></i></div>
    		</div>
        </div>
	</div>
</div>
<script>
$("#subinfo").delegate("span","click",function(){
    var titlel = $("#title").val();
    var tagl = $("#tag").val();
    var descriptionl = $("#description").val();
    if(titlel == '' || titlel.length >141)
    {
        $("#add_data").html('标题不能为空或大于140个字');
        return ;
    }
    if(tagl == ''|| tagl.length >160)
    {
        $("#add_data").html('标签不能为空或大于160个字');
        return $.layer($('#uptishi').html());
    }
    if(descriptionl == ''|| descriptionl.length >401)
    {
        $("#add_data").html('简介不能为空或大于400个字');
        return ;
    }
    var title = encodeURIComponent(titlel, "utf-8");
	var tag = encodeURIComponent(tagl, "utf-8");
	var description = encodeURIComponent(descriptionl, "utf-8");
    
    url = '/space/workedit/album?action=edit&id=<?php echo $info['album_id']; ?>';
    url += "&name=" + title + "&tag=" + tag + "&desc=" + description;
    $.get(url, function(data){
        var jsondata = jQuery.parseJSON(data);
        switch (jsondata.status)
        {
            case 1:
                $("#add_data").html("信息已保存，5秒后跳转到作品管理！");
                setTimeout("location.href='/u/work/album'",5000);
                break;  
            case 0:
                $("#add_data").html('信息保存失败，请重新编辑提交！');
                //$(".b_form_btn").css("background","none repeat scroll 0% 0% rgb(252, 142, 44)");
                break;
            case 3:
                $("#add_data").html("标题错误！");
                break;  
            case 4:
                $("#add_data").html("标签错误！");
                break;  
            case 5:
                $("#add_data").html("简介错误！");
                break;  
            default:
        }

    });
})
</script>
<!--content end-->
<?php $this->load->view('public/footer.php'); ?>